.dark {
  --md-sys-color-primary: rgb(217 199 111);
  --md-sys-color-surface-tint: rgb(217 199 111);
  --md-sys-color-on-primary: rgb(57 48 0);
  --md-sys-color-primary-container: rgb(82 71 0);
  --md-sys-color-on-primary-container: rgb(246 227 136);
  --md-sys-color-secondary: rgb(208 199 162);
  --md-sys-color-on-secondary: rgb(54 48 22);
  --md-sys-color-secondary-container: rgb(77 71 43);
  --md-sys-color-on-secondary-container: rgb(237 227 188);
  --md-sys-color-tertiary: rgb(146 213 171);
  --md-sys-color-on-tertiary: rgb(0 57 32);
  --md-sys-color-tertiary-container: rgb(8 82 49);
  --md-sys-color-on-tertiary-container: rgb(174 242 198);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 19 12);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 12);
  --md-sys-color-on-surface: rgb(232 226 212);
  --md-sys-color-surface-variant: rgb(74 71 57);
  --md-sys-color-on-surface-variant: rgb(205 198 180);
  --md-sys-color-outline: rgb(150 144 128);
  --md-sys-color-outline-variant: rgb(74 71 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(51 48 39);
  --md-sys-color-inverse-primary: rgb(108 94 16);
  --md-sys-color-primary-fixed: rgb(246 227 136);
  --md-sys-color-on-primary-fixed: rgb(33 27 0);
  --md-sys-color-primary-fixed-dim: rgb(217 199 111);
  --md-sys-color-on-primary-fixed-variant: rgb(82 71 0);
  --md-sys-color-secondary-fixed: rgb(237 227 188);
  --md-sys-color-on-secondary-fixed: rgb(32 28 4);
  --md-sys-color-secondary-fixed-dim: rgb(208 199 162);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 71 43);
  --md-sys-color-tertiary-fixed: rgb(174 242 198);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 17);
  --md-sys-color-tertiary-fixed-dim: rgb(146 213 171);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 82 49);
  --md-sys-color-surface-dim: rgb(21 19 12);
  --md-sys-color-surface-bright: rgb(60 57 48);
  --md-sys-color-surface-container-lowest: rgb(16 14 7);
  --md-sys-color-surface-container-low: rgb(30 28 19);
  --md-sys-color-surface-container: rgb(34 32 23);
  --md-sys-color-surface-container-high: rgb(44 42 33);
  --md-sys-color-surface-container-highest: rgb(55 53 43);
}
