.dark-high-contrast {
  --md-sys-color-primary: rgb(255 250 244);
  --md-sys-color-surface-tint: rgb(217 199 111);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(221 203 115);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 250 244);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(213 203 166);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(238 255 241);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(150 217 175);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 19 12);
  --md-sys-color-on-background: rgb(232 226 212);
  --md-sys-color-surface: rgb(21 19 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 71 57);
  --md-sys-color-on-surface-variant: rgb(255 250 244);
  --md-sys-color-outline: rgb(209 202 185);
  --md-sys-color-outline-variant: rgb(209 202 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(49 42 0);
  --md-sys-color-primary-fixed: rgb(251 231 140);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(221 203 115);
  --md-sys-color-on-primary-fixed-variant: rgb(27 22 0);
  --md-sys-color-secondary-fixed: rgb(241 231 192);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(213 203 166);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 22 2);
  --md-sys-color-tertiary-fixed: rgb(178 246 202);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(150 217 175);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 27 13);
  --md-sys-color-surface-dim: rgb(21 19 12);
  --md-sys-color-surface-bright: rgb(60 57 48);
  --md-sys-color-surface-container-lowest: rgb(16 14 7);
  --md-sys-color-surface-container-low: rgb(30 28 19);
  --md-sys-color-surface-container: rgb(34 32 23);
  --md-sys-color-surface-container-high: rgb(44 42 33);
  --md-sys-color-surface-container-highest: rgb(55 53 43);
}
