.light-medium-contrast {
  --md-sys-color-primary: rgb(77 67 0);
  --md-sys-color-surface-tint: rgb(108 94 16);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(131 117 38);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(73 67 39);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(124 117 85);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(1 77 46);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(65 129 93);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 249 236);
  --md-sys-color-on-background: rgb(30 28 19);
  --md-sys-color-surface: rgb(255 249 236);
  --md-sys-color-on-surface: rgb(30 28 19);
  --md-sys-color-surface-variant: rgb(233 226 208);
  --md-sys-color-on-surface-variant: rgb(70 67 53);
  --md-sys-color-outline: rgb(99 95 81);
  --md-sys-color-outline-variant: rgb(127 123 107);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 48 39);
  --md-sys-color-inverse-on-surface: rgb(247 240 226);
  --md-sys-color-inverse-primary: rgb(217 199 111);
  --md-sys-color-primary-fixed: rgb(131 117 38);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(105 92 13);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(124 117 85);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(99 92 62);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(65 129 93);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(38 104 69);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(223 218 204);
  --md-sys-color-surface-bright: rgb(255 249 236);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 243 229);
  --md-sys-color-surface-container: rgb(244 237 223);
  --md-sys-color-surface-container-high: rgb(238 232 218);
  --md-sys-color-surface-container-highest: rgb(232 226 212);
}
