.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 720px;
    height: 48px;

    input,
    .leading-icon,
    .trailing-icon {
        background-color: var(--md-sys-color-surface-container-high);
        box-sizing: border-box;
    }

    input {
        color: var(--md-sys-color-on-surface);
        outline: none;
        border: none;
        height: 48px;
        padding: 0 1rem;
        flex: 1;
    }

    .leading-icon,
    .trailing-icon,
    input::placeholder {
        color: var(--md-sys-color-on-surface-variant);
        opacity: 1;
    }

    input:first-child,
    .leading-icon {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

    input:last-child,
    .trailing-icon {
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    .leading-icon,
    .trailing-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }

    .leading-icon {
        padding-left: 1rem;
    }

    .trailing-icon {
        padding-right: 1rem;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}

.light .search:hover, .light .search:focus{
    input,
    .leading-icon,
    .trailing-icon {
        background-image: linear-gradient(rgba(30, 28, 19, 0.08), rgba(30, 28, 19, 0.08));
    }
}

.dark .search:hover, .dark .search:focus{
    input,
    .leading-icon,
    .trailing-icon {
        background-image: linear-gradient(rgba(232, 226, 212, 0.08), rgba(232, 226, 212, 0.08));
    }
}