@import "./tailwind.css";
@import "./material-ui.scss";
@import "./var.scss";

body {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    margin: 0;
    padding: 0;
}

.pb-17 {
    padding-bottom: 4.5rem;
}

.min-ml-3 {
    margin-left: -0.75rem;
}

.md-color-primary {
    color: var(--md-sys-color-primary);
}

.md-color-on-surface-variant {
    color: var(--md-sys-color-on-surface-variant);
}

.md-background-color-surface-container {
    background-color: var(--md-sys-color-surface-container);
}

.md-background-color-surface-container-highest {
    background-color: var(--md-sys-color-surface-container-highest);
}